body {
    min-width: 520px;
    direction: rtl;
}

.column {
    width: 170px;
    float: right;
    padding-bottom: 100px;
}

.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
    float: left;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

#containment-wrapper {
    width: 510px;
    height: 310px;
    border: 2px solid #ccc;
    padding: 10px;
    float: right;
}

#toolbox-wrapper {
    width: 90px;
    height: 310px;
    border: 2px solid #ccc;
    padding: 10px;
    float: right;
}